/* start banner section */

.banner {
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;



}



.banner h2 {
    color: #093a69;

}

.line-banner {
    width: 20%;
    margin-top: 8px;
    color: #91b3fa;
    border: solid;
}

.parent-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: scale-up-center 5s cubic-bezier(0.11, 0.575, 0.390, 1.000) both;

}



.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 0px 65px;

}

.card img {
    width: 500px;


}
@keyframes scale-up-center {
	0% {

		transform: scale(.1);
	}

	100% {

		transform: scale(1);
	}
}


  

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 40%;
    height: 42vh;
    margin-top: 80px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.card-content h3 {
    font-size: 20px;
    line-height: 25px;
    padding: 15px 35px;
    color: #093a69;
    width: 45%;
}

.card-content p {
    font-size: 18px;
    padding: 0px 35px 20px;
    width: 80%;
}

/* card 2 */
#card-reverse {
    display: flex;
    flex-direction: row-reverse;
    /* margin-left: 20px; */
    width: 100%;

}


/* end card2 */

.card-content button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;

}

.card-content button.learn-more {
    width: 12rem;
    height: auto;
    margin-left: 35px;
}

.card-content button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #3863f2;
    border-radius: 1.625rem;
}

.card-content button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

.card-content button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.card-content button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

.card-content button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

.card-content button:hover .circle {
    width: 100%;
}

.card-content button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

.card-content button:hover .button-text {
    color: #fff;
}